<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio Tracker: Welcome</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://nextcloud.theschoepels.com/s/cRpqYdRAyiR9DPC/download/favicon.ico"
    />
  </head>
  <body>
    <p>Hi <%= name %>,</p>
    <p>You requested a change to your account email address.</p>
    <p>Your account email has been verified and updated!</p>
    <p>Your can now login to your portfolioTracker account with this email.</p>
  </body>
  <footer>
    <h1>
      <div align="right">
        <span
          ><img
            width="200"
            src="https://nextcloud.theschoepels.com/s/w7zCDK9tzCFY368/preview"
            alt="portfolio Tracker logo"
        /></span>
      </div>
    </h1>
  </footer>
</html>
