<html>
  <head>
    <style></style>
  </head>
  <body>
    <p>Hi <%= name %>,</p>
    <p>You requested to reset your password.</p>
    <p>Please, click the link below to reset your password</p>
    <a href="<%= link %>">Reset Password</a>
  </body>
  <footer>
    <h1>
      <div align="right">
        <span
          ><img
            width="200"
            src="https://nextcloud.theschoepels.com/s/ENypWK3B3HTsn7f/preview"
            <!--
            src="https://nextcloud.theschoepels.com/s/w7zCDK9tzCFY368/preview"
            --
          />
          alt="portfolio Tracker logo" /></span
        >
      </div>
    </h1>
  </footer>
</html>
