<html>
  <head>
    <style></style>
  </head>
  <body>
    <p>Hi <%= name %>,</p>
    <p>Your password has been changed successfully</p>
  </body>
  <footer>
    <h1>
      <div align="right">
        <span
          ><img
            width="200"
            src="https://nextcloud.theschoepels.com/s/ENypWK3B3HTsn7f/preview"
            alt="portfolio Tracker logo"
        /></span>
      </div>
    </h1>
  </footer>
</html>
