<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio Tracker: Welcome</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://nextcloud.theschoepels.com/s/cRpqYdRAyiR9DPC/download/favicon.ico"
    />
  </head>
  <body>
    <p>Hi <%= name %>,</p>
    <p>
      Your email has been verified! Your portfolioTracker account is now active.
    </p>
    <p>
      You can now sign in with your email and password here:
      <span><a href="<%= link %>">portfolioTracker Home</a></span>
    </p>
  </body>
  <footer>
    <h1>
      <div align="right">
        <a href="">
          <img
            width="200"
            src="https://nextcloud.theschoepels.com/s/ENypWK3B3HTsn7f/preview"
            alt="portfolio Tracker logo"
          />
        </a>
      </div>
    </h1>
  </footer>
</html>
